<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Practice</title>
</head>
<body>
  <h1>Welcome to thymeleaf practice session</h1>
  <h2><span>The first car to finish the race was: <th:block th:text="${car1}">[car1]</th:block></span></h2>
  <h2><span>The second car  to finish the race was: <th:block th:text="${car2}">[car2]</th:block></span></h2>
  <h2><span>The third car to finish the race was: <th:block th:text="${car3}">[car3]</th:block></span></h2>
  <h2><span>The forth car to finish the race was: <th:block th:text="${car4}">[car4]</th:block></span></h2>
</body>
</html>